{% extends "portfolio/base.html" %}

{% load static %}

{% block content %}

<h1 id="blogtitle" class="font-weight-bold text-center">Contacts</h1>

<br>
<h2>Info</h2>
<p>Email:</p>
<p>Phone:</p>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2620.5464262026244!2d24.73146771567746!3d48.9430803792958!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4730c19a4a65e427%3A0xeb6f29186c63340!2z0JrQvtC70LXQtNC2INC10LvQtdC60YLRgNC-0L3QvdC40YUg0L_RgNC40LvQsNC00ZbQsg!5e0!3m2!1suk!2sua!4v1654527611713!5m2!1suk!2sua"
        width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
<br><br>
<h2>Write me</h2>
<div class="row content-center mb-3">
    <form method="post">
        {% csrf_token %}
        <p align="left">Username: <br>{{ form.name }}<br></p>
        <p align="left">Email: <br>{{ form.email }}<br></p>
        <p align="left">Company: <br>{{ form.company }}<br></p>
        <p align="center">Text: <br>{{ form.text }}<br></p>
        <p align="center">
            <button type="submit">Send message!</button>
        </p>
    </form>
</div>

{% endblock %}
